<h4>Ingrese un Id</h4>



<form action="/Empresas/ListaEmpresas" method="post">
    <label for="idEmpresa">Id Empresa</label>
    <input type="text" name="idEmpresa" id="idEmpresa" />
    <input type="submit" value="Enviar" />
</form>