<h4>Ingrese un Id</h4>



<form action="/Departamento/DepartamentoLista" method="post">
    <label for="idDepartamento">Id Departanmento</label>
    <input type="text" name="idDepartamento" id="idDepartamento" />
    <input type="submit" value="Enviar" />
</form>